<%@ page language="java" pageEncoding="UTF-8"%>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-copy">

  <div class="am-modal-dialog">
    <div class="am-modal-hd">复制住院服务
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <hr>
    <form id="copyForm" name="copyForm" action="singleAdd" method="POST" class="am-form am-form-inline">
    	<div class="am-g am-margin-top">
			<div class="am-u-sm-2 am-u-md-2">
			  	<span id="copy_item_label">服务项目</span>
			</div>
			<div class="am-u-sm-10 am-u-md-10">
				<input type="text" id="copy_item" name="item" class="am-form-field am-input-sm">
			</div>
		</div>
		<div class="am-g am-margin-top">
			<div class="am-u-sm-2 am-u-md-2">
			  	<span id="copy_imageUrl_label">项目图片</span>
			</div>
			<div class="am-u-sm-10 am-u-md-10">
				<textarea id="copy_imageUrl" name="imageUrl" class="am-form-field am-input-sm" style="width: 100%"></textarea>
			</div>
		</div>
		<div class="am-g am-margin-top">
			<div class="am-u-sm-2 am-u-md-2">
			  	<span id="copy_content_label">服务内容</span>
			</div>
			<div class="am-u-sm-10 am-u-md-10">
				<textarea id="copy_content" name=content class="am-form-field am-input-sm" style="width: 100%"></textarea>
			</div>
		</div>
		<div class="am-g am-margin-top">
			<div class="am-u-sm-2 am-u-md-2">
				<span id="copy_available_label">可用状态</span>
			</div>
			<div class="am-u-sm-10 am-u-md-10">
				<div class="am-form-group">
					<label class="am-radio-inline">
						<input type="radio" name="available" id="copy_available" value="true" checked="checked" data-am-ucheck> 启用
					</label>
					<label class="am-radio-inline">
						<input type="radio" name="available" id="copy_available" value="false" data-am-ucheck> 弃用
					</label>
				</div>
			</div>
		</div>
	<hr>
    <div class="am-margin">
      <button type="button" class="am-btn am-btn-primary am-btn-xs" id="submitCopy">提交复制</button>
      <button type="button" class="am-btn am-btn-primary am-btn-xs" id="closeCopy" data-am-modal-close>放弃复制</button>
    </div>
    
	</form>
  </div>
</div>
