<%@ page language="java" pageEncoding="UTF-8"%>
<link rel="stylesheet" href="${pageContext.request.contextPath }/static/css/business/backend-biz.css">

<header class="am-topbar am-topbar-inverse admin-header">
	<div class="am-topbar-brand">
		<strong>桦甸人民医院 微信公众号平台</strong><small>后台管理系统首页</small>
	</div>
	<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
		<li class="am-dropdown" data-am-dropdown>
			<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
				<span class="am-icon-users"></span>${sessionScope.CURRENT_USER.nickname} <span class="am-icon-caret-down"></span>
			</a>
			<ul class="am-dropdown-content">
				<li><a href="${pageContext.request.contextPath }/logout"><span class="am-icon-sign-out"></span>退出</a></li>
			</ul>
		</li>
		<li class="am-hide-sm-only">
			<a href="javascript:;" id="admin-fullscreen">
				<span class="am-icon-arrows-alt"></span><span class="admin-fullText">开启全屏</span>
			</a>
		</li>
	</ul>
</header>
