@media screen and (min-width:769px) {
	.container-fluid{width:768px}
	.modal{width:768px;margin:auto}
	.my-footer{width:768px}
	*{font-size:20px}
}
@media screen and (max-width:768px) and (min-width:481px) {
	*{font-size:20px}
	#btn-guize{font-size:20px}
	.modal-body{max-height:450px}
}
@media screen and (max-width:480px) and (min-width:361px) {
	*{font-size:20px}
	#btn-guize{font-size:20px}
	.modal-body{max-height:450px}
}
@media screen and (max-width:360px) {
	*{font-size:14px}
	#btn-guize{font-size:16px}
	.modal-body{max-height:300px}
}

.container-fluid{padding:0}
.container-fluid h2{color:#0099ff;margin-left:5px}

.row{width:100%;padding:auto 0;margin:auto}

.list-group-item img{height:30px;width:auto;margin-top:-5px}

#datetimeModal .list-group-item{padding:5px 0;padding-left:15px}
#datetimeModal .list-group-item label{color:#286090;margin:0;font-weight:normal}
#datetimeModal .list-group-item label input{margin-top:5px;border:#ff5c10 solid 1px}
#datetimeModal .list-group-item label:hover{color:#ff5c10}

#btn-guize{
	width:90%;
	margin:10px auto;
	color:#fff;
	border-radius:10px;
	-webkit-box-shadow:1px 2px 5px rgba(0,0,0,0.1);
	box-shadow:1px 2px 5px rgba(0,0,0,0.3)
}
#btn-guize:hover{color:#ff5c10}
