* {margin:0;padding:0;font-family:"Microsoft YaHei";font-size:14px}
a {color:#286090;text-decoration:none}
a:hover, .btn:hover{color:#ff5c10;text-decoration:none}
a,img {border:none}
img {vertical-align:middle}
ul,li {list-style:none}
em {font-style:normal}
