.modal-header{height:45px;border-radius:5px}

.modal-header button{font-size:30px;line-height:18px}
.modal-header button span{font-size:32px;color:blue}
.modal-header button:hover{
	transition: .75s;
	transform:rotate(-360deg);
	-webkit-transform:rotate(-360deg);
}

.modal-header-icon{margin:-3px 0 0 0;color:#2aabd2;text-shadow:1px 1px 5px rgba(0,0,0,.35);float:left}
.modal-header-title{margin-top:-7px;color:#ff5c10;text-shadow:0 1px 0 rgba(255,255,255,0.7)}

.form-group input{font-size:18px;line-height:20px}
.form-group .btn{float:right;margin-right:10%}

.form-group .rememberMe{font-weight:normal}

.control-label{padding:0;font-weight:normal;text-align:right}

.mustFill{color:#ff5c10}

.form-control{margin:-3px 0 0 -10px}

.modal-footer{height:55px;padding-right:5%;margin-top:-10px}
.modal-footer .btn {margin-top:-10px;font-size:18px}
